form.form {
  background: #D8E6E7;
  margin-bottom: 1.5em;
  border: 1px solid #000;
  padding: 2em;
  @include border(4px);
  color: #585F68;
  label {
    margin-bottom: 5px;
    display: inline-block;
  }
  .form-group {
    margin-bottom: 1em;
  }
  input.form-control {
    width: 100%;
    font-size: 90%;
    border: 1px solid #77AAAD;
    @include border(2px);
    padding: .5em .75em;
    @include transition(.2s);
    &:focus {
      @include boxShadow(0, 2px, 5px, rgba(0,0,0,.2));
    }
  }
}