.container {
  width: 70%;
  margin: 0 auto;
  padding: 1em 0;
}

.row {
  @include flex();
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@each $modifier, $breakpoint in $map-grid-col {
  @include create-col-classes($modifier, $column, $breakpoint);
}

[class^="col-"] {
  padding: 0 1em;
}