<%- include ../layouts/header %>

<div class="container">
    <div class="active" ng-controller="indexController">
        <h1><%- trad.title %></h1>
        <hr />
        <div class="row">
            <div class="sideMenu col-xs-12 col-lg-3">
                /* Side menu */
                </div>
            <div class="contentArticle col-xs-12 col-lg-9">
                <h2>Some heading</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eleifend eget tellus quis aliquam. Donec malesuada orci in tortor congue vehicula. Cras vulputate pretium eros. Ut tortor nisl, viverra a fermentum a, mollis et erat. Cras vulputate viverra risus, vulputate commodo ipsum elementum ac. Pellentesque ligula justo, mattis sed ante vel, aliquet vulputate erat. Aliquam blandit sed mi sit amet gravida. Aliquam euismod est ipsum, in aliquam velit maximus a. Nullam egestas sem a elit vehicula dictum. Fusce sit amet ex ut lacus elementum ultricies. Maecenas dapibus, mi vel sollicitudin commodo, urna orci imperdiet metus, eget lobortis odio orci a sem.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eleifend eget tellus quis aliquam. Donec malesuada orci in tortor congue vehicula. Cras vulputate pretium eros. Ut tortor nisl, viverra a fermentum a, mollis et erat. Cras vulputate viverra risus, vulputate commodo ipsum elementum ac. Pellentesque ligula justo, mattis sed ante vel, aliquet vulputate erat. Aliquam blandit sed mi sit amet gravida. Aliquam euismod est ipsum, in aliquam velit maximus a. Nullam egestas sem a elit vehicula dictum. Fusce sit amet ex ut lacus elementum ultricies. Maecenas dapibus, mi vel sollicitudin commodo, urna orci imperdiet metus, eget lobortis odio orci a sem.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eleifend eget tellus quis aliquam. Donec malesuada orci in tortor congue vehicula. Cras vulputate pretium eros. Ut tortor nisl, viverra a fermentum a, mollis et erat. Cras vulputate viverra risus, vulputate commodo ipsum elementum ac. Pellentesque ligula justo, mattis sed ante vel, aliquet vulputate erat. Aliquam blandit sed mi sit amet gravida. Aliquam euismod est ipsum, in aliquam velit maximus a. Nullam egestas sem a elit vehicula dictum. Fusce sit amet ex ut lacus elementum ultricies. Maecenas dapibus, mi vel sollicitudin commodo, urna orci imperdiet metus, eget lobortis odio orci a sem.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eleifend eget tellus quis aliquam. Donec malesuada orci in tortor congue vehicula. Cras vulputate pretium eros. Ut tortor nisl, viverra a fermentum a, mollis et erat. Cras vulputate viverra risus, vulputate commodo ipsum elementum ac. Pellentesque ligula justo, mattis sed ante vel, aliquet vulputate erat. Aliquam blandit sed mi sit amet gravida. Aliquam euismod est ipsum, in aliquam velit maximus a. Nullam egestas sem a elit vehicula dictum. Fusce sit amet ex ut lacus elementum ultricies. Maecenas dapibus, mi vel sollicitudin commodo, urna orci imperdiet metus, eget lobortis odio orci a sem.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eleifend eget tellus quis aliquam. Donec malesuada orci in tortor congue vehicula. Cras vulputate pretium eros. Ut tortor nisl, viverra a fermentum a, mollis et erat. Cras vulputate viverra risus, vulputate commodo ipsum elementum ac. Pellentesque ligula justo, mattis sed ante vel, aliquet vulputate erat. Aliquam blandit sed mi sit amet gravida. Aliquam euismod est ipsum, in aliquam velit maximus a. Nullam egestas sem a elit vehicula dictum. Fusce sit amet ex ut lacus elementum ultricies. Maecenas dapibus, mi vel sollicitudin commodo, urna orci imperdiet metus, eget lobortis odio orci a sem.</p>
            </div>
        </div>
    </div>
</div>

<script src="/app/_controllers/indexController.js"></script>
<% include ../layouts/footer %>